.progressbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  label {
    padding-right: 10px;
    font-size: 2rem;
  }

  progress {
    width: 30em;
    height: 50px;
    position: relative;
    overflow: hidden;

    &:after {
      content: "";
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
      background-image: linear-gradient(
        -45deg, 
        rgba(255, 255, 255, .2) 25%, 
        transparent 25%, 
        transparent 50%, 
        rgba(255, 255, 255, .2) 50%, 
        rgba(255, 255, 255, .2) 75%, 
        transparent 75%, 
        transparent
      );
      z-index: 1;
      background-size: 50px 50px;
    }
  }

  p {
    margin: 0;
    position: absolute;
    bottom: 15px;
    z-index: 2;
    font-weight: 700;
  }
}